# Auto detect text files and perform LF normalization
* text=auto

# Track IPv6 shard JSONs and the big IPv6 CSV with Git LFS
public/ip2l6/** filter=lfs diff=lfs merge=lfs -text
data/IP2LOCATION-LITE-DB3.IPV6.CSV filter=lfs diff=lfs merge=lfs -text
public/ip2l6/**/*.json filter=lfs diff=lfs merge=lfs -text
